*.cov
.cover
target
/logs/
/target/
/var/
debug
debug.test
.vscode
.idea/
node_modules/
/web/public/
/frontend/public/
/web/coverage
*.prof
*.test
/rest-client.env.json
.DS_Store
.mongo
remark42
/bin/
