<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Remark42</title>

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .container {
      max-width: 800px;
      margin: 40px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Demo page</h1>
    <p>To install widgets on your website, follow the <a href="https://github.com/umputun/remark#setup-on-your-website">instructions</a>.</p>
    <div id="remark42"></div>
  </div>

  <script src="demo.js"></script>

  <noscript>
    Please enable JavaScript to view the comments powered by Remark42.
  </noscript>
</body>
</html>
